@model CarRental.Models.Cars

@{
    ViewData["Title"] = "Car details";
}

<h1>Details</h1>

<div>
    <h4>Cars</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Type
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.type.type)
        </dd>
        <dt class = "col-sm-2">
            Localisation
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.localisation.city)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.make)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.make)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.power)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.power)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price_per_day)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price_per_day)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
