@model IEnumerable<CarRental.Models.Cars>

@{
    ViewData["Title"] = "Available_cars";
}

<h1>Available cars</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.power)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price_per_day)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.power)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price_per_day)
            </td>
            <td>
                <a asp-action="Reserve" asp-route-id="@item.id_car">Reserve</a>
            </td>
        </tr>
}
    </tbody>
</table>
