@model IEnumerable<CarRental.Models.Rentals>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.customer.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.car) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.payment.amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_from)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_to)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customer.Email)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.car.make) @Html.DisplayFor(modelItem => item.car.model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.payment.amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_from)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_to)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_rental">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.id_rental">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
