@model IEnumerable<CarRental.Models.Cars>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.localisation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.power)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price_per_day)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.localisation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.power)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price_per_day)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_car">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.id_car">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
